@model CRMWeb.Models.ViewModel.TaskAssignmentVM
@{
    var title = "Create Assignment";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.TaskAssignment.Id != 0)
        {
            <input type="hidden" asp-for="TaskAssignment.Id">
            title = "Edit Assignment";
        }

        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Account</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.TaskAssignment.AccountId,
               Model.AccountList, "-Please select an Account-", new { @class = "form-control" })
                <span asp-validation-for="TaskAssignment.AccountId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Task</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.TaskAssignment.TaskId,
               Model.TaskList, "-Please select a Task-", new { @class = "form-control" })
                <span asp-validation-for="TaskAssignment.TaskId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>User</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.TaskAssignment.UserId,
               Model.UserList, "-Please select an User-", new { @class = "form-control" })
                <span asp-validation-for="TaskAssignment.UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label>Department</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.TaskAssignment.DepartmentId,
               Model.DepartmentList, "-Please select a Department-", new { @class = "form-control" })
                <span asp-validation-for="TaskAssignment.DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TaskAssignment.DueDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="TaskAssignment.DueDate" class="form-control" />
                    <span asp-validation-for="TaskAssignment.DueDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TaskAssignment.DueDate"></label>
                </div>
                <div class="col-8">
                    @{
                        var dueDate = "";
                        if (Model.TaskAssignment.Id != 0)
                        {
                            dueDate = Model.TaskAssignment.DueDate.ToShortDateString();
                        }
                    }
                    <input id="datepicker" value="@dueDate" type="text" asp-for="@Model.TaskAssignment.DueDate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TaskAssignment.Notes"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="TaskAssignment.Notes" class="form-control"></textarea>
                    <span asp-validation-for="TaskAssignment.Notes" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.TaskAssignment.Id!=0?"Update":"Create")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
    </div>

</form>

@section scripts{

    <script>
        $(function () {
            $('#datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "2018:2040"
            });
        })
    </script>
}

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}